<div class="container">
    <h3>Selected : </h3>
    <p>{{selectedVal}}</p>
    <div style="margin-top: 200px;">
        <app-select [options]="items" (selectChange)="change($event)">
            <app-custom-option (selected)="change($event)" [value]="'Xcent'">
                <div class="option">
                    <h1>Car Models</h1>
                    <h2>Hyndai</h2>
                    <p>hyundai Xcent</p>
                </div>

            </app-custom-option>
            <app-custom-option [value]="'City'">
                <div class="option">
                    <h1>Car Models</h1>
                    <h2>Honda</h2>
                    <p>City</p>
                </div>
            </app-custom-option>
            <app-custom-option [value]="'i10'">
                <div class="option">
                    <h1>Car Models</h1>
                    <h2>hyundai</h2>
                    <p>hyundai i10</p>
                </div>
            </app-custom-option>
            <app-custom-option [value]="'Hello4'">
                <div class="option">
                    <h1>Car Models</h1>
                    <h2>Ford</h2>
                    <p>ford accent</p>
                </div>
            </app-custom-option>
            <app-custom-option [value]="'Hello5'">
                <div class="option">
                    <h1>Car Models</h1>
                    <h2>maruth</h2>
                    <p>maruthy 800</p>
                </div>
            </app-custom-option>
        </app-select>
    </div>

    <!-- <ng-template #optionTpl let-option>
        B {{ option.label }}
    </ng-template> -->
</div>

<!-- (selected)="selected($event)" -->